<!DOCTYPE html>
<html>
<head>
    <title>About Us - FreshCart</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color:white;
            color:green;
            padding: 10px;
            text-align: center;
        }
        main {
            margin: 15px;
        }
        h1 {
            font-size: 32px;
            margin-bottom: 10px;
        }
        p {
            font-size: 20px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <header>
        <h1>FreshCart - Online Grocery Shopping</h1>
    </header>
    <main>
        <h1>About Us</h1>
        <p>FreshCart is a leading online grocery shopping platform, offering a convenient and seamless shopping experience for customers. With our user-friendly website and mobile app, you can easily browse 
            and order a wide range of fresh and high-quality products from local and national brands. Our mission is to provide convenient and affordable access to grocery shopping, with fast and reliable delivery straight to your doorstep.</p>
        <p>At FreshCart, we are committed to serving our customers and supporting local businesses. We partner with local farmers and producers to offer a wide selection of fresh and sustainable products, while also supporting the local economy. Our team is dedicated to ensuring that every order is handled with care and delivered on time, with excellent customer service and support every step of the way.</p>
    </main>
</body>
</html>