<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNaveBar">
        <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="mynavabar">
    <ul class=" navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link bright-color" routerLink="products">products</a>
        </li>
         <li class="nav-item">
            <a class="nav-link bright-color" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bright-color"  routerLink="customer" >Customers</a>
      </li>

        <li class="nav-item ">
            <a class="nav-link bright-color"  routerLink="sales" > Sales</a>
        </li>
     </ul>
     
    </div>
</div>
    </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
</div>